body {
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #FEFEFE;
  color: #162F6F;
  max-width: 1280px;
}


nav {
  background-color: #189CE4;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
.navbar {
  background-color: #162F6F;
  position:fixed;
  top: 0;
  width:100%;
  display:flex;
  justify-content:center;
  left:0;
  transition: 0.3s;
  z-index:1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.navbar:hover {
  top: 0;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

h1,h2,h3,h4,h5 {
  margin: 0.5em 0 0.2em;
  text-align:center;
  padding: 30px 0 10px 0;
  font-size:28px;
}
h4{
  padding: 10px 0 0 0;
}
h1{
  font-size:100px;
  transition: all 1s ease;
  padding:120px 0 120px 0;
  border-bottom: 3px solid #162F6F;
  transition:0.3s; 
}

h1:hover {
  
}


button {
  background-color: #EF4C48;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
p, a{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  line-height:1.6;
}





footer {
  text-align:center;
}

