p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    text-align: center;
}

h4 {
    font-size:24px;
}

.card-container {
  display: flex;                
  justify-content: flex-start; 
  padding: 20px;                
  width: 100%;                  
  gap: 40px; 
  box-sizing: border-box; 
  flex-wrap:wrap;
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0 0 calc(31% - 40px);
  min-width:0;
  transition:0.3s;
  position: relative;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition:0.3s;
}
.card.active .card-img {
  opacity: 0;
}

.card.active .card-text {
  opacity: 1;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.card-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  opacity: 0;
  transition: 0.3s;
  background: white;
  height: 100%;
  overflow: auto;
}
.card-name {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,0.8);
  margin: 0;
  padding: 5px 0;
  z-index: 2;
}
.card:hover .card-img {
  opacity: 0;
}

.card:hover .card-text {
  opacity: 1;
}

@media (max-width: 992px) {
  .card {
    flex: 0 0 calc(50% - 10px);
  }
}

/* Phone: 1 per row */
@media (max-width: 600px) {
  .card {
    flex: 0 0 100%;
  }
}